apiVersion: apps/v1
kind: Deployment
metadata:
  name: apigateway
spec:
  replicas: 1
  selector:
    matchLabels:
      app: apigateway
  template:
    metadata:
      labels:
        app: apigateway
    spec:
      containers:
        - name: apigateway
          image: apigateway:latest
          imagePullPolicy: Never
          env:
            - name: QUOTES_API
              value: http://quote-service
          ports:
            - containerPort: 3000
        
